# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.mk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Mac .DS_Store files
*.DS_Store

# Ignore other FSL code in src folder
CiftiLib-master/
DiscreteOpt/
FastPDlib/
MEtools/
MSM/
MSMRegLib/
NewNifti/
avwutils/
bianca/
copain/
dpm/
dwssfp/
eddy/
fabber/
fdt/
fslview/
load_dicom/
load_varian/
misc_scripts/
miscmaths/
newmesh/
oxford_asl/
randomise/
relax/
tissue/
topup/
utils
verbena/
warpfns/
MVdisc/
ptx2/
qboot/
sgeutils/
shapeModel/
siena/
slicetimer/
susan/
tbss/
asl_mfree/
basil/
basisfield/
baycest/
bet2/
bint/
cluster/Makefile
cluster/branchname.log
cluster/cluster2html
cluster/connectedcomp.cc
cluster/infertest.cc
cluster/smoothest.cc
cluster/smoothest.h
fast4/
feat5/Makefile
feat5/ORIGINAL_featib.tcl
feat5/autoaq
feat5/branchname.log
feat5/checkFEAT
feat5/cutoffcalc.cc
feat5/default_flobs.flobs/
feat5/easythresh
feat5/estnoise
feat5/feat
feat5/feat.tcl
feat5/feat_gm_prepare
feat5/feat_model.cc
feat5/featconf
feat5/featlib.cc
feat5/featlib.h
feat5/featquery
feat5/featquery.tcl
feat5/featregapply
feat5/fsl_motion_outliers
feat5/fslerrorreport
feat5/generateConfounds.cc
feat5/glm.tcl
feat5/invfeatreg
feat5/mainfeatreg
feat5/match_smoothing
feat5/mccutup
feat5/mp_diffpow.sh
feat5/perfusion_subtract
feat5/pnm.tcl
feat5/pnm_evs.cc
feat5/pnm_stage1
feat5/popp.cc
feat5/prewhiten.cc
feat5/renderhighres
feat5/renderhighres.tcl
feat5/retroicor_evs.cc
feat5/setFEAT
feat5/tsplot.cc
feat5/updatefeatreg
film/
filmbabe/
first/
first_lib/
flameo/
flirt/
fnirt/
fslio/
fslsurface/
fslvbm/
fslvtkio/
fugue/
giftiio/
gps/
lesions/
libmeshutils/
libvis/
mcflirt/
melodic/
meshclass/
misc_c/
misc_tcl/
miscvis/
mm/
newimage/
niftiio/
possum/
znzlib/

# Ignore binaries in cluster and feat5 folders
cluster/cluster
cluster/connectedcomp
cluster/smoothest
feat5/bundleFEAT
feat5/cleanupFEAT
feat5/doc/
feat5/feat_csf_wm
